<div class="container-fluid panel-footer">
  <div class="row">
     <div class="col-md-12">
       <p class="footer-items"><a href="http://www.collegeofphysicians.org/library" target="_blank"><img src="/assets/images/Text_LowRes_trans.png" class="footimg"></a><a href="http://www.collegeofphysicians.org" target="_blank"><img src="/assets/images/CPP_Logo_Birthplace_BLUE.png" class="footimg"></a></p>
         <p class="footer-items">Powered by <a href="http://archivesspace.org" target="_blank">ArchivesSpace</a> v.2.7
         | Copyright © 2019 The College of Physicians of Philadelphia</p>
     </div>
  </div>
</div>
